.formPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 55px;
  padding: 30px 100px;
  background: #ffffff;
  border-radius: 10px;
}

.containerFormPhone {
  display: grid;
  grid-template-columns: 500px 150px;
  gap: 10px;
}
