.labelModal {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333333;
  font-size: 18px;
  text-align: left;
}

p {
  margin: 0;
}

.errorBlock {
  display: block;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f10624;
}
